    body {
        background-image: url("../Img/testAfbeelding.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0px;
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;   
    }

    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

    ul.topnav li a:hover {background-color: #555;}

    ul.topnav li.icon {display: none;}

.navHighlight {
    background-color: #555;
}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
    
    
    .column-layout {
        max-width: 1000px;
        background-color: #FFF;
        margin: 40px auto 0 auto;
        line-height: 1.65;
        padding: 20px 50px;
        display: flex;
    }

    .main-column {
        flex: 1;
        order: 1;
        margin-right: 200px;
    }

 
    .sidebar-two {
        flex: 1;
        order: 2;
    }
    
    .center {
        text-align: center;
    }
     .img-circle {
        border-radius: 50%;
    }

     .beschrijving {
         font-family: 'Roboto', sans-serif;
     }

     .titel {
         font-family: 'Wendy One', sans-serif;
     }

     .fixed-size-container {
         max-height: 2000px;
         max-width: 1250px;
         margin: 40px auto 0 auto;
         padding: 30px 0;
         display: flex;
         align-items: center;
         justify-content: space-around;
         flex-wrap: wrap;
     }

     .fixed-size {
         width: 350px;
         max-width: 350px;
         height: 300px;
         background-color: #FFF;
         border-style: solid;
         margin-bottom: 80px;
         overflow: hidden;

     }


     .expand-taak1 {
         width: 1250px;
         height: 2000px;
         background-color: #FFF;
         border-style: solid;
         margin-bottom: 80px;
         overflow: hidden;
     }
      .margin-fixed-size {
         margin: 20px;
    
    }

      .img-size {
          max-height: 50%;
          max-width: 50%;
          display: block;
          margin: 0 auto;
      }

       .beschrijving-taken {
          font-family: 'Roboto', sans-serif;
          text-align: center;
     }

     .fixed-size-container-stage {
         max-height: 4000px;
         max-width: 1750px;
         margin: 40px auto 0 auto;
         padding: 30px 0;
         display: flex;
         align-items: center;
         justify-content: space-around;
         flex-wrap: wrap;
     }

     .fixed-size-stage {
         width: 650px;
         max-width: 650px;
         height: 300px;
         background-color: #FFF;
         border-style: solid;
         margin-bottom: 80px;
         overflow: hidden;

     }

     .taakPagina {
         margin-bottom: 50px;
         margin-left: 100px;
         margin-right: 100px;
         font-size: 20px;
         line-height: 150%;
     }

     .fotoTaak1 {
         width: 600px;
         height: 800px;
         margin-left: 325px;
         
     }

     .expand-taak2 {
         width: 1250px;
         height: auto;
         background-color: #FFF;
         border-style: solid;
         margin-bottom: 80px;
         overflow: hidden;
     }

     .taak2Beschrijving-header {
         padding-left: 15px;
         margin: 36px;

     }

     .taak2Beschrijving-paragraph {
         padding-left: 15px;
         margin: 36px;
         font-size: large;
     }